<table style='border-collapse: collapse; border: none; table-layout: fixed; width: auto;'>
  <tr>
    <th style='text-align: left; padding-right: 10px;'>
      {{typeFormatted}}:
    </th>
  </tr>
  {{#each timezoneList as |timezone|}}
    <tr>
      <td style='text-align: left; padding-right: 10px;'>
        {{timezone.name}}:
      </td>
      <td style='text-align: left; overflow-wrap: break-word;'>
        {{#if (eq userTimezone timezone.value)}}
          <span style='font-weight: bold;'>
            {{#if (eq type 'custom.ISO-Timezone')}}
              {{moment-format details.time 'YYYY-MM-DD HH:mm:ss z' timeZone=timezone.value}}
            {{/if}}
            {{#if (eq type 'custom.ISO-8601')}}
              {{moment-format details.time 'YYYY-MM-DD HH:mm:ss z' timeZone=timezone.value}}
            {{/if}}
            {{#if (eq type 'custom.RFC-3339')}}
              {{moment-format details.time 'YYYY-MM-DD HH:mm:ss z' timeZone=timezone.value}}
            {{/if}}
            {{#if (eq type 'custom.WaybackMachineMementoTimestamp')}}
              {{moment-format details.time 'YYYY-MM-DD HH:mm:ss z' timeZone=timezone.value}}
            {{/if}}
            {{#if (eq type 'custom.NanosecondsSinceBoot')}}
              {{moment-format nanoTime 'YYYY-MM-DD HH:mm:ss z' timeZone=timezone.value}}
            {{/if}}
            {{#if (eq type 'custom.UnixTimestamp')}}
              {{moment-format (unix details.time) 'YYYY-MM-DD HH:mm:ss z' timeZone=timezone.value}}
            {{/if}}
          </span>
        {{/if}}
        {{#if (not (eq userTimezone timezone.value))}}
          {{#if (eq type 'custom.ISO-Timezone')}}
            {{moment-format details.time 'YYYY-MM-DD HH:mm:ss z' timeZone=timezone.value}}
          {{/if}}
          {{#if (eq type 'custom.ISO-8601')}}
            {{moment-format details.time 'YYYY-MM-DD HH:mm:ss z' timeZone=timezone.value}}
          {{/if}}
          {{#if (eq type 'custom.RFC-3339')}}
            {{moment-format details.time 'YYYY-MM-DD HH:mm:ss z' timeZone=timezone.value}}
          {{/if}}
          {{#if (eq type 'custom.WaybackMachineMementoTimestamp')}}
            {{moment-format details.time 'YYYY-MM-DD HH:mm:ss z' timeZone=timezone.value}}
          {{/if}}
          {{#if (eq type 'custom.NanosecondsSinceBoot')}}
            {{moment-format nanoTime 'YYYY-MM-DD HH:mm:ss z' timeZone=timezone.value}}
          {{/if}}
          {{#if (eq type 'custom.UnixTimestamp')}}
            {{moment-format (unix details.time) 'YYYY-MM-DD HH:mm:ss z' timeZone=timezone.value}}
          {{/if}}
        {{/if}}
      </td>
    </tr>
  {{/each}}
</table>