<h1 class="p-title">
  {{fa-icon icon="clock" fixedWidth=true}} Format: {{details.type}}
</h1>
<table class='timezone-table mb-3'>
  {{#if details.nanoseconds}}
    <tr>
      <td class='timezone-key'>
        Time Since Boot:
      </td>
      <td class='timezone-value'>
        {{details.nanoseconds}}
      </td>
    </tr>
    <tr>
      <td class='timezone-key'>
        Boot Time:
      </td>
      <td class='timezone-value'>
        <button
                class='copy-btn'
                title='Copy to Clipboard'
          {{action 'copyData' (concat 'time-info-nano-' uniqueIdPrefix)}}
        >
          <div id={{concat 'time-info-nano-' uniqueIdPrefix}}>
            {{details.time}}
          </div>
        </button>
        {{#if (get showCopySuccessCheck (concat 'time-info-nano-' uniqueIdPrefix))}}
          {{fa-icon icon='check' class='copied-icon' fixedWidth=true}}
        {{/if}}
      </td>
    </tr>
    {{/if}}
    {{#each details.timezones as |timezone|}}
      <tr>
        <td class='timezone-key'>
          {{timezone.timezoneLabel}}:
        </td>
        <td class='timezone-value'>
          <button
            class='copy-btn'
            title='Copy to Clipboard'
            {{action
              'copyData'
              (concat 'time-info-' timezone.timezoneLabel '-' uniqueIdPrefix)
            }}
          >
            <div id={{concat 'time-info-' timezone.timezoneLabel '-' uniqueIdPrefix}}>
              {{timezone.time}}
            </div>
          </button>

          <div class="copy-success-message {{if (get showCopySuccessCheck (concat 'time-info-' timezone.timezoneLabel '-' uniqueIdPrefix)) "visible" "hidden"}}">
            {{fa-icon icon="check" fixedWidth=true class="copy-success-icon"}}
            Copied timestamp
          </div>
        </td>
      </tr>
    {{/each}}
</table>