<table style='border-collapse: collapse; border: none; table-layout: fixed; width: auto;'>
  <tr>
    <th style='text-align: left; padding-right: 10px;'>
      {{typeFormatted}}:
    </th>
  </tr>
  {{#if (eq type 'custom.NanosecondsSinceBoot')}}
    <tr>
      <td style='text-align: left; padding-right: 10px;'>
        Boot Time:
      </td>
      <td style='text-align: left; overflow-wrap: break-word;'>
        {{log bootTime}}
        {{moment-format bootTime 'YYYY-MM-DD HH:mm:ss z' timeZone=userTimezone}}
      </td>
    </tr>
  {{else}}
    {{#each timezoneList as |timezone|}}
      <tr>
        <td style='text-align: left; padding-right: 10px;'>
          {{timezone.name}}:
        </td>
        <td style='text-align: left; overflow-wrap: break-word;'>
          {{#if (eq userTimezone timezone.value)}}
            <span style='font-weight: bold;'>
              {{moment-format details.time 'YYYY-MM-DD HH:mm:ss z' timeZone=timezone.value}}
            </span>
          {{/if}}
          {{#if (not (eq userTimezone timezone.value))}}
            {{moment-format details.time 'YYYY-MM-DD HH:mm:ss z' timeZone=timezone.value}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
  {{/if}}
</table>