<span
  class='integration-summary-tag integration-background-color integration-border-color'
  {{on 'click' (optional this.scrollToIntegration)}}
>
  <span class='acronym integration-text-bold-color'>
    {{block.acronym}}
  </span>
  <span class='integration-text-color'>
    {{log type}}
    {{#if (eq type 'custom.NanosecondsSinceBoot')}}
      {{nanosecondsFormatted}}
    {{else}}
      {{moment-format details.time 'YYYY-MM-DD HH:mm:ss z' timeZone=userTimezone}}
    {{/if}}
  </span>
</span>